.Adminlogin-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Adminlogin-container {
    width: 97%;
    height: 96%;
    background: linear-gradient(to bottom, rgb(18, 134, 143) 70%, white 100%);
    border-radius: 15px;
}

.Adminlogin-loginbox {
    width: 22%;
    height: 47%;
    background: linear-gradient(to top, rgb(18, 134, 143) 50%, white 100%);

    border-radius: 15px;
    position: relative;
    top: 28%;
    left: 74%;
    display: flex;
    justify-content: center;

}

.Adminlogin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .Adminlogin-form-input {
    width: 20rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    min-width: 20rem;
} */

.Adminlogin-form-input {
    width: 20rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    min-width: 20rem;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.Adminlogin-form-input:focus {
    border-color: #2563EB; /* Blue border on focus */
    background-color: #E5E7EB; /* Light gray background when focused */
    outline: none; /* Remove default outline */
}


.Adminlogin-form-text {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    color: black;
    
} 


.Adminlogin-form-button {
    width: 45%;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-right: 10rem;
}

.Adminlogin-form-forgottext {
    font-size: 15px;
    margin-top: 5px;
    color: black;
    position: relative;
    bottom: 9%;
    left: 6.5rem;
    text-decoration: underline;
    
}
.Adminlogin-form-termstext{
    color: black;
    margin-top: -0.9rem;
    margin-right: 2rem;
    margin-left: 1.5rem;

}
.Adminlogin-form-createtext{
    position: relative;
    bottom: 2rem;
}
.Adminlogin-form-createtext span{
    text-decoration: underline;
    color: blue;
}
.logo{
    position: absolute;
    width: 140px;
    height: 77px;
    left: 5rem;
    top: 3rem;
}